*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font: $fontWeight $fontSize $fontFamily;
    text-align: center;
    color: $darkGrayishBlue;
    background: $veryLightGrayishBlue;
}

.container {
    width: clamp(16rem, 90vw, 70rem);
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}