*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font: $fontWeight $fontSize $fontFamily;
    text-align: center;
    color: $darkGrayishBlue;
    background: url("../../../images/bg-bottom.svg"), url("../../../images/bg-top.svg"), $veryLightGrayishBlue;
    background-repeat: no-repeat;
    background-position: bottom left, top right;
}

main {
    padding-bottom: 1rem;
}

.container {
    width: clamp(16rem, 90vw, 70rem);
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

.attribution {
    padding-bottom: 1rem;
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}