$fontSize: 15px;
$fontFamily: 'Montserrat',
sans-serif;
$fontWeight: 700;
//
.title {
    margin: 0;
}

.header-title {
    padding-top: 4.5625rem;
    padding-bottom: 2.5rem;
}

label {
    color: $lightGrayishBlue;
}

.card__type {
    color: $grayishBlue;
}

.card__price {
    font-size: 4rem;
    margin-bottom: 1.163rem;
    margin-top: 1.163rem;
}